.ContactMe {
  position: fixed;
  z-index: 1;
  margin: 20px;
  /* padding: 5px; */
  bottom: 0;
  right: 0;
}

#contact-dialog {
  width:  400px;
}

/* .Contact-Button {
  background-color: aquamarine;
} */